.login-form {
  position:absolute; 
  top:0; 
  bottom:0; 
  left:0; 
  right:0; 
  margin:auto; 
  height:440px; 
  max-width: 300px;

}
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }